.icons {
  position: relative;
  .image{
    @include icon();
    height: 100px;
    width: 100px;
  }
  .info {
    @include link();
    font-size: 1.25em;
    padding-left: 10px;
    padding-right: 10px;
    filter:brightness(100%);
  }
  &:hover .info{
    color: $accentTwo;
  }
}
