.icons {
  .image{
    @include icon();
    height: 100px;
    width: 100px;
  }
  .info {
    @include link();
    font-size: 1.25em;
    filter:brightness(100%);
    width: 100px;
  }
  &:hover .info{
    color: $accentTwo;
    text-shadow: 2px 2px 8px black;
  }
}

