.members-icons {
  position: relative;
  .image{
    @include icon();
    height: 300px;
    width: 300px; 
  }
  .info{
    @include link();
    font-size: 2em;
  }
  &:hover .info{
    color: $accentTwo;
    text-shadow: 2px 2px 8px black;
  }
  }