@mixin list {
  padding: 5px;
  display: flex;
  flex-direction: row;
}

@mixin float-box {
  background: $main;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 3px 3px 5px 2px rgb(20, 20, 20);
}

@mixin one-column {
  display: grid;
  grid-template-columns: 1fr;
}
@mixin two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@mixin three-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@mixin icon {
  box-shadow: 4px 4px 2px 0px rgb(20, 20, 20);
  background-size: cover;
  backgroun-color: #636262;
  transition: 1s ease-in-out;
  filter: brightness(50%);
}
@mixin link{
  top: 0;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  transition: 1s ease-in-out;
  color: transparent;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  &:hover {
    color: orange;
  }
}
