h1 {
  font-size: 5em;
  text-align: center;
  color: #c59104;
}

h2 {
  font-size: 2em;
  text-align: center;
  color: #c59104;
}

h3 {
  color: white;
  font-size: 1.5em;
}

td {
  color: white;
}

td a {
  color: white;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

td a:hover {
  text-decoration: none;
  color: #c59104;
}

.app {
  background-color: black;
  background-size: cover;
  font-family: Muli;
  color: #f6f7f0;
  padding: 5px;
}

.btn {
  cursor: pointer;
  height: 42px;
  font-size: 1em;
  font-weight: 500;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #c59104;
  color: white;
}

.btn:active, .btn:focus {
  outline: none;
}

.btn:hover {
  background-color: #f3d173;
}

.header {
  padding: 4px;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.contact {
  text-align: center;
}

.list {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.list a {
  margin: 5px;
  text-decoration: none;
}

.icons .info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c59104;
  -webkit-box-shadow: 4px 4px 2px 0px #141414;
          box-shadow: 4px 4px 2px 0px #141414;
  font-weight: 700;
  font-size: 1.25em;
  height: 100px;
  width: 100px;
}

.icons .info:hover {
  color: #f3d173;
}

.slider {
  padding: 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.arrow {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.arrow:hover {
  color: #c59104;
  cursor: pointer;
}

.Campaign-Icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c59104;
  -webkit-box-shadow: 4px 4px 2px 0px #141414;
          box-shadow: 4px 4px 2px 0px #141414;
  font-weight: 700;
  font-size: 1.25em;
  height: 200px;
  width: 200px;
}

.Campaign-Icons:hover {
  color: #f3d173;
}

.button {
  color: #c59104;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.button:hover {
  color: #f3d173;
  text-decoration: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(74, 77, 77, 0.63);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 3px 3px 5px 2px #141414;
          box-shadow: 3px 3px 5px 2px #141414;
  width: 10em;
  padding: 10px;
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.nav a {
  color: #c59104;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.nav a:hover {
  color: #f3d173;
  text-decoration: none;
}

.nav a svg {
  margin-right: 10px;
}

.announcements-wrapper {
  background: rgba(74, 77, 77, 0.63);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 3px 3px 5px 2px #141414;
          box-shadow: 3px 3px 5px 2px #141414;
  height: 20em;
  width: 40%;
}

.carasol {
  background: rgba(74, 77, 77, 0.63);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 3px 3px 5px 2px #141414;
          box-shadow: 3px 3px 5px 2px #141414;
  height: 10em;
}

.carasol .charector-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.campaigns-wrapper {
  height: 20em;
  background: rgba(74, 77, 77, 0.63);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 3px 3px 5px 2px #141414;
          box-shadow: 3px 3px 5px 2px #141414;
}

.campaigns-wrapper .campaign-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.campaign {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.campaign .campaign-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: calc(100% - 144px);
}

.campaign .images-container {
  background-size: cover;
}

.campaign .summary {
  background: rgba(74, 77, 77, 0.63);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 3px 3px 5px 2px #141414;
          box-shadow: 3px 3px 5px 2px #141414;
}

.campaign .summary .created-by {
  font-size: .5em;
}

.campaign .characters {
  background: rgba(74, 77, 77, 0.63);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 3px 3px 5px 2px #141414;
          box-shadow: 3px 3px 5px 2px #141414;
}

.campaign .characters .characters-list {
  height: 16em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
  place-items: center;
}

.campaign .video-slider {
  background: rgba(74, 77, 77, 0.63);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 3px 3px 5px 2px #141414;
          box-shadow: 3px 3px 5px 2px #141414;
  height: 20em;
}

.page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.page .header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.page .header .name {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.page .header .campaign {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-column-align: end;
      justify-self: end;
}

.page .body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  color: white;
}

.page .body .body-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.page .body .body-top .picture {
  background-size: cover;
  height: 597px;
  margin: 10px;
}

.page .body .body-top .top-right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.page .body .body-top .top-right .table {
  background: rgba(74, 77, 77, 0.63);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 3px 3px 5px 2px #141414;
          box-shadow: 3px 3px 5px 2px #141414;
}

.page .body .body-top .top-right .bio {
  background: rgba(74, 77, 77, 0.63);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 3px 3px 5px 2px #141414;
          box-shadow: 3px 3px 5px 2px #141414;
}

.page .body .associates {
  background: rgba(74, 77, 77, 0.63);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 3px 3px 5px 2px #141414;
          box-shadow: 3px 3px 5px 2px #141414;
}

.page .body .associates .associates-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.page .body .associates .associates-wrapper .associate {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.page .body .associates .associates-wrapper .associate:hover {
  color: #c59104;
  cursor: pointer;
}

.bottom-section {
  background: rgba(74, 77, 77, 0.63);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 3px 3px 5px 2px #141414;
          box-shadow: 3px 3px 5px 2px #141414;
}

.bottom-section .characters {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.auth-page-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: calc(100vh - 84px);
}

.auth-page-wrapper .left-column {
  background-size: cover;
}

.auth-page-wrapper .right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(74, 77, 77, 0.63);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 3px 3px 5px 2px #141414;
          box-shadow: 3px 3px 5px 2px #141414;
  padding: 20px;
}

.auth-page-wrapper .right-column .auth-form-wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 21px;
  grid-gap: 21px;
  padding: 42px;
}

.auth-page-wrapper .right-column .auth-form-wrapper input {
  font-family: "Titillium Web", sans-serif;
  color: rgba(74, 77, 77, 0.63);
  padding: 5px 0px;
  width: 100%;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid #c59104;
  background-color: transparent;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  font-size: 1.1em;
  margin-bottom: 21px;
}

.auth-page-wrapper .right-column .auth-form-wrapper input:focus {
  outline: none;
  border-bottom: 1px solid #f3d173;
}

.auth-page-wrapper .right-column .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.auth-page-wrapper .right-column .form-group svg {
  font-size: 2em;
  color: #c59104;
  margin-right: 15px;
}
/*# sourceMappingURL=main.css.map */