@mixin list {
  padding: 5px;
  display: flex;
  flex-direction: row;
}

@mixin float-box {
  background: $main;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 3px 3px 5px 2px rgb(20, 20, 20);
}

@mixin one-column {
  display: grid;
  grid-template-columns: 1fr;
}
@mixin two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@mixin three-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@mixin icon {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  color: $accentOne;
  box-shadow: 4px 4px 2px 0px rgb(20, 20, 20);
  font-weight: 700;
  font-size: 1.25em;

  &:hover {
    color: $accentTwo;
  }
}
