.nav-wapper{
  .button {
    color: $accentOne;
    transition: 0.5s ease-in-out;
    width: 160px;
    margin-bottom: 0px;
  }
  .nav {
    display: none;
    flex-direction: column;
    @include float-box();
    background: $main-solid;
    width: 10em;
    z-index: 100; 
    position: absolute;
    margin-top: 0px;
    a {
      color: $accentOne;
      transition: 0.5s ease-in-out;
        &:hover {
        color: $accentTwo;
        text-decoration: none;
      }
      svg {
        margin-right: 10px;
      }
    }
  }
  &:hover .nav {
    display:flex;
  }
  &:hover .button{
    color: $accentTwo;
    text-decoration: none;
    cursor: pointer;
  }
}