.button {
  color: $accentOne;
  transition: 0.5s ease-in-out;

  &:hover {
    color: $accentTwo;
    text-decoration: none;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  @include float-box();
  width: 10em;
  padding: 10px;
  overflow-x: hidden;
  position: relative;
  left: 0;
  a {
    color: $accentOne;
    transition: 0.5s ease-in-out;

    &:hover {
      color: $accentTwo;
      text-decoration: none;
    }

    svg {
      margin-right: 10px;
    }
  }
}
