.trash-icon {
  color: $accentOne;
  transition: 1s ease-in-out;
  &:hover {
    color: red;
  }
}
.announcement-type-select {
  margin-left: 10px;
}
.new-announcement-button {
  font-size: 25px;
  margin: 5px;
  color: $accentOne;
  transition: 1s ease-in-out;
  &:hover {
    color: $accentTwo;
  }
}
