.page{
    @include one-column();
    .header{
    .picture{
        @include one-column();
        background-size: cover;
        background-position: center;
        height: 300px;
    }
    h1{
        text-shadow: 3px 3px 10px black;
    }
    }
    .summary{
        @include float-box();
        .created-by{
            font-size: .5em
        }
    }
    .characters{
        @include float-box();
        .characters-list{
            min-height: 16em;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 5px;
            place-items: center;
        }
    }
    .video-slider{
        @include float-box();
        min-height: 20em;
    }
}
