.list{
    .character{
        height: 100px;
        width: 100px;
        }
        .slick-list{
            max-height: 150px;
        }
}
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
