.page {
  @include one-column();
  width: 100vw;
  .body {
    @include one-column();
    color: white;
    width: 100vw;
    .body-top {
      @include two-column();
      .char-picture {
        background-size: cover;
        background-position: top;
        height: 597px;
        margin: 10px;
      }
      .top-right {
        @include two-column();
        justify-items: center;
        .table {
          @include float-box();
        }
        .bio {
          @include float-box();
          min-width: 300px;
          height: 400px;
          p {
            height: 340px;
            overflow: scroll;
          }
        }
      }
    }
    .associates {
      @include float-box();
      .associates-wrapper {
        @include two-column();
        .associate {
          transition: 0.5s ease-in-out;
          &:hover {
            color: $accentOne;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.bottom-section {
  .characters-list {
    height: 13em;
    width: 98vw;
  }
}
