.announcements-wrapper {
  @include float-box();
  height: 20em;
  min-width: 40vw;
  @media screen and (max-width: $phone) {
    width: 100vw;
  }
}
.carasol {
  @include float-box();
  height: 10em;
}
.campaigns-wrapper {
  min-height: 20em;
  @include float-box();
  .campaign-icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.calendar {
  @include float-box();
  .calendar-frame {
    @media screen and (min-width: $computer) {
      iframe {
        min-height: 250px;
        min-width: 50vw;
        border: 0;
        .mv-dayname {
          background-color: black;
          color: white;
        }
      }
    }
  }
  @media screen and (max-width: $phone) {
    width: 90vw;
    iframe {
      width: 85vw;
      min-height: 250px;
      border: 0;
    }
  }
}
