.announcements-wrapper {
  @include float-box();
  height: 20em;
  min-width: 400px;
}
.carasol {
  @include float-box();
  height: 10em;
  .charector-icons {
    display: flex;
    justify-content: space-around;
  }
}
.campaigns-wrapper {
  min-height: 20em;
  @include float-box();
  .campaign-icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.calendar-frame{
  iframe{
    height: 275px;
    width: 800px;
    border: 0;
    .mv-dayname{
      background-color: black;
      color: white;
    }
  }
}
