.page {
  @include one-column();
  .body-top {
    @media screen and (min-width: $computer) {
      @include two-column();
      width: calc(50vw - 20px);
      height: calc(100% - 144px);
    }
    .picture {
      background-size: cover;
      background-position: center;
      height: 597px;
      margin: 10px;
      @media screen and (min-width: $computer) {
        width: calc(50vw - 20px);
      }
    }
    .right-column {
      @media screen and (min-width: $computer) {
        width: calc(50vw - 35px);
      }
      .bio {
        @include float-box();
      }
      .characters-list {
        @media screen and (min-width: $computer) {
          width: calc(50vw - 55px);
        }
      }
      .campaigns {
        @include float-box();
      }
    }
  }
}
