.rules {
  .description {
    @include float-box();
    text-align: center;
  }
  .body {
    @media screen and (min-width: $computer) {
      @include two-column();
    }
    .announcements {
      @include float-box();
      width: 100vw;
      @media screen and (min-width: $computer) {
        width: 47vw;
      }
    }
    .episodes {
      @include float-box();
      width: 100vw;
      @media screen and (min-width: $computer) {
        width: 47vw;
      }
    }
  }
}
